$neuton: "Neuton", serif;

$dark: #1d1d1d;
$lightGreen: #366961;
$darkGreen: #1E2D2F;
$backgroundWhite: #F2F2F2;
$creamWhite: #DFDFDF;
$copperCrayola: #C57B57; 
$red: #a04747; 
$tumpleWeed: #F1AB86;
$lightGrey: #bbbbbb;
$grey: #6e6e6e;
$darkGrey: #494949;
$mildGrey: #c7c7c7;
$white: #ffffff;
