$neuton: "Neuton", serif;

$dark: #1d1d1d;
$lightGreen: #366961;
$darkGreen: #1E2D2F;
$backgroundWhite: #F2F2F2;
$creamWhite: #DFDFDF;
$copperCrayola: #C57B57; 
$tumpleWeed: #F1AB86;
$grey: #6e6e6e;
$darkGrey: #494949;
