@import url('https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,300;0,400;0,700;0,800;1,400&display=swap');
@import 'variables';
@import 'layout/base';
@import 'layout/header';
@import 'utils/hero';
@import 'utils/menu';
@import 'utils/pizzaCard';
@import 'utils/quote';
@import 'utils/badges';
@import 'layout/footer';