.hero {
    height: 100vh;
    background: url("../img/background4.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;

    .logo {
        margin-top: 15px;
    }

    .content {
        position: absolute;
        // top: 270px;
        top: 28%;

        h1 {
            color: $creamWhite;
            font-weight: 700;
            font-size: 8rem;
            letter-spacing: 3px;

            @media (max-width: 1445px) {
                font-size: 6rem;
            }

            @media (max-width: 1195px) {
                font-size: 5rem;
            }

            @media (max-width: 1000px) {
                font-size: 5.6rem;
            }
        }

        .description {
            color: $creamWhite;

            p {
                font-weight: 700;
                font-size: 1.45rem;
                max-width: 620px;

                @media (max-width: 1445px) {
                    font-size: 1.2rem;  
                }

                @media (max-width: 1195px) {
                    max-width: 500px;
                }

                @media (max-width: 1000px) {
                    max-width: 700px;
                }
            }
        }

        .heroButton {
            display: inline-block;
            margin-top: 70px;

            @media (max-width: 1790px) {
                padding: 8px 35px;
            }
        }

        @media (max-width: 1445px) {
            top: 30%;
        }

        @media (max-width: 1195px) {
            top: 35%;
        }
    }

    .image {
        width: 42%;
        float: right;
        margin-top: 17%;
        margin-right: -47px;

        @media (max-width: 1790px) {
            width: 40%;
            margin-right: -80px;
        }

        @media (max-width: 1445px) {
            width: 35%;
            margin-right: -10px;
        }

        @media (max-width: 1330px) {
            width: 35%;
            margin-top: 23%;
            margin-right: -40px;
        }
        
        @media (max-width: 1195px) {
            width: 38%;
            margin-right: -80px;
            margin-top: 30%;
        }

        @media (max-width: 1000px) {
            display: none;
        }
    }
}
