.order {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: $creamWhite;
    width: 400px;
    transition: transform 0.55s ease-in-out;
    transform: translateX(100%);
    z-index: 80;
    padding: 0 60px;
    overflow-y: auto;

    &.sliderOpen {
        transform: translateX(0);
    }

    .close {
        position: absolute;
        color: $grey;
        font-size: 2.2rem;
        top: 12px;
        right: 10px;
        cursor: pointer;
    }

    &.orderOpen {
        transform: translateX(0);
    }

    .empty {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-evenly;
        align-items: center;

        img {
            opacity: 0.5;
            width: 85%;
        }

        p {
            font-size: 1.2rem;
            max-width: 340px;
            margin: 0 auto;
            font-weight: 600;
            text-align: center;
            margin-top: -140px;
            color: $grey;
        }
    }

    .notEmpty {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        
        .headerAndItems {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            h2 {
                margin: 50px 0;
                letter-spacing: 1px;
                font-size: 1.85rem;
                color: $grey;
            }
        }

        .orderButton {
            width: 100%;
            padding: 13px 40px;
            font-size: 1.27rem;
            margin-bottom: 25px; 
        }
    }

}
