.pizzaCard {
    .card {
        position: relative;
        background-color: transparent;
        min-height: 620px;
        border-radius: 20px;
        // background: linear-gradient(#f1ab86, #db9a79, #da9a79, #795643);
        background: rgb(241, 171, 134);
        background: linear-gradient(
            180deg,
            rgba(241, 171, 134, 1) 0%,
            rgba(219, 154, 121, 1) 14%,
            rgba(218, 154, 121, 1) 50%,
            rgba(121, 86, 67, 1) 100%
        );

        .darkGreen {
            position: absolute;
            background-color: $darkGreen;
            width: 100%;
            height: 290px;
            border-radius: 20px;
            z-index: 2;
        }

        img {
            position: absolute;
            border-radius: 20px;
            top: 0;
            right: 0;
            z-index: 3;
        }

        h3 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
            color: $darkGreen;
            font-weight: 800;
            text-transform: uppercase;
            font-size: 1.4rem;
            width: 310px;
            text-align: center;
        }

        p {
            position: absolute;
            top: 65%;
            left: 50%;
            transform: translateX(-50%);
            color: $creamWhite;
            font-weight: 600;
            font-size: 1.3rem;
            width: 310px;
            text-align: center;
        }
    }
}
