.pizzaCard {
    .card {
        position: relative;
        background-color: transparent;
        min-height: 620px;
        border-radius: 20px;
        background-color: $dark;
        transition: all 0.3s ease;

        .darkGreen {
            position: absolute;
            background-color: $copperCrayola;
            width: 100%;
            height: 290px;
            border-radius: 20px;
            z-index: 2;
        }

        img {
            position: absolute;
            border-radius: 20px;
            top: 0;
            right: 0;
            z-index: 3;
        }

        h3 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
            // color: $tumpleWeed;
            color: $backgroundWhite;
            font-weight: 800;
            text-transform: uppercase;
            font-size: 1.5rem;
            width: 310px;
            text-align: center;
        }

        .price {
            position: absolute;
            top: 56%;
            left: 50%;
            transform: translateX(-50%);
            color: #c4bcaf;
            font-weight: 600;
            font-size: 1.02rem;
            width: 310px;
            text-align: center;
        }

        .description {
            position: absolute;
            top: 68%;
            left: 50%;
            transform: translateX(-50%);
            color: $creamWhite;
            font-weight: 600;
            font-size: 1.25rem;
            width: 310px;
            text-align: center;
        }

        svg {
            position: absolute;
            font-size: 2.52rem;
            bottom: 10px;
            right: 3%;
            // color: #3b5d61;
            // color: #448188;
            // color: #3b767c;
            // color: #215358;
            color: $tumpleWeed;
            // color: #db6e33;
            // color: #eb7e44;
        }

        &:hover {
            transform: translateY(-8px);
        }
    }
}
