.recentOrder {
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid $mildGrey;

    h3 {
        display: flex;
        align-items: center;
        font-size: 1.75rem;
        margin-bottom: 5px;
        color: $dark;

        span {
            color: $grey;
            font-size: 1rem;
            margin-left: 10px;

            @media (max-width: 477px) {
                font-size: 0.85rem;
            }
        }

        @media (max-width: 475px) {
            font-size: 1.25rem;
        }
    }

    .infoGroup {
        margin: 15px 0;

        .timestamp {
            font-weight: 600;
            color: $darkGrey;
            font-size: 1.25rem;

            @media (max-width: 475px) {
                font-size: 1rem;
            }
        }
        
        .address {
            color: $darkGrey;
            font-weight: 700;
            font-size: 1.15rem;

            @media (max-width: 475px) {
                font-size: 1rem;
            }
        }

        .totalQuantity {
            font-size: 1.35rem;
            font-weight: 700;

            @media (max-width: 475px) {
                font-size: 1.25rem;
            }
        }
        
        .totalPrice {
            font-size: 1.4rem;
            font-weight: 700;
            color: $lightGreen;

            @media (max-width: 475px) {
                font-size: 1.3rem;
            }
        }

        &.adjustedMargins {
            margin: 2px 0;
        }

        .pizzaInfo {
            .pizzaInfoRow {
                display: flex;

                p {
                    &:nth-of-type(1) {
                        color: $dark;
                        font-weight: 600;
                        font-size: 1.1rem;

                        @media (max-width: 475px) {
                            font-size: 1rem;
                        }
                    }

                    &:nth-of-type(2) {
                        margin-left: 5px;
                        font-weight: 600;
                        font-size: 1.1rem;

                        @media (max-width: 475px) {
                            font-size: 1rem;
                        }
                    }

                    &:nth-of-type(3) {
                        margin-left: 1px;
                        font-weight: 600;
                        font-size: 1.1rem;

                        @media (max-width: 475px) {
                            font-size: 1rem;
                        }
                    }
                }
            }

            .pizzaOrderInfo {
                margin-left: 22px;
                margin-bottom: 4px;
                font-size: 1.1rem;
                padding-top: 3px;
                padding-bottom: 5px;

                .infoRow {
                    display: flex;

                    .label {
                        color: $grey;
                        font-weight: 600;
                        margin-right: 3px;
                    }

                    .price {
                        font-weight: 700;
                        color: $lightGreen;
                        
                        &.total {
                            font-size: 1.1rem;
                            color: $lightGreen;
                        }
                    }

                    .extras {
                        letter-spacing: 0.5px;
                    }

                    .dash {
                        font-weight: 700;
                    }
                }
            }
        }
    }

    &:last-of-type {
        margin-bottom: 10px;
    }
}
