.recentOrder {
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid $mildGrey;

    h3 {
        display: flex;
        align-items: center;
        font-size: 1.35rem;
        margin-bottom: 5px;

        span {
            color: $grey;
            font-size: 1rem;
            margin-left: 10px;
        }
    }

    .infoGroup {
        margin: 15px 0;

        .timestamp {
            font-weight: 600;
            color: $grey;
        }

        .address {
            color: $darkGrey;
            font-weight: 700;
        }

        .totalQuantity {
            font-size: 1.15rem;
            font-weight: 700;
        }
        
        .totalPrice {
            font-size: 1.2rem;
            font-weight: 700;
            color: $lightGreen;
        }

        &.adjustedMargins {
            margin: 2px 0;
        }

        .pizzaInfo {
            .pizzaInfoRow {
                display: flex;

                p {
                    &:nth-of-type(1) {
                        color: $darkGrey;
                        font-weight: 600;
                    }

                    &:nth-of-type(2) {
                        margin-left: 5px;
                        font-weight: 600;
                    }
                }
            }

            .pizzaOrderInfo {
                margin-left: 22px;
                margin-bottom: 4px;
                font-size: 0.9rem;
                padding-top: 3px;
                padding-bottom: 5px;

                .infoRow {
                    display: flex;

                    .label {
                        color: $grey;
                        font-weight: 600;
                        margin-right: 3px;
                    }

                    .price {
                        font-weight: 700;
                        color: $copperCrayola;
                        
                        &.total {
                            font-size: 1.0025rem;
                            color: $lightGreen;
                        }
                    }

                    .extras {
                        letter-spacing: 0.5px;
                    }
                }
            }
        }
    }

    &:last-of-type {
        margin-bottom: 50px;
    }
}
