.registerLoginModal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.15s ease;
    background-color: $creamWhite;
    border-radius: 10px;
    width: 620px;
    height: 78%;
    padding: 40px 85px;
    z-index: 30;
    pointer-events: none;
    opacity: 0;
    overflow-y: auto;

    .close {
        position: absolute;
        color: $darkGrey;
        font-size: 1.9rem;
        top: 12px;
        right: 10px;
        cursor: pointer;
        z-index: 35;
    }

    &.open {
        opacity: 1;
        pointer-events: all;
    }

    .contentColumn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            font-weight: 700;
            font-size: 2.2rem;
            color: $darkGrey;
            margin-bottom: 70px;
        }

        .facebookButton {
            svg {
                font-size: 2rem;
                margin-right: 5px;
            }

            display: flex;
            align-items: center;
            text-transform: uppercase;
            background-color: #3b5998;
            font-weight: 700;
            font-size: 1.3rem;
            padding: 10px 80px;

            &:hover {
                background-color: #2d4579;
            }
        }

        .or {
            font-size: 1.35em;
            color: $grey;
            margin: 30px 0;
        }

        form {
            width: 100%;
            text-align: center;

            .inputGroup {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                margin-top: 20px;
                margin-bottom: 70px;

                svg {
                    position: absolute;
                    left: 1px;
                    font-size: 2.35rem;
                    color: $darkGrey;
                }

                label {
                    position: absolute;
                    top: 0;
                    left: 0;
                    margin-left: 48px;
                    transition: all 0.3s ease;
                    color: $grey;
                    font-size: 1.3rem;
                    z-index: 45;

                    &.active {
                        top: -25px;
                        font-size: 1rem;
                        color: $dark;
                    }
                }

                input {
                    position: relative;
                    font-family: $neuton;
                    background-color: transparent;
                    outline: none;
                    border: none;
                    border-bottom: 1px solid $lightGrey;
                    width: 80%;
                    font-size: 1.2rem;
                    padding-bottom: 8px;
                    z-index: 50;

                    &.active {
                        border-bottom: 1px solid $darkGrey;
                    }
                }
            }

            .formButton {
                margin-top: 80px;
            }
        }

        .needAnAccount {
            margin: 15px 0;
            font-size: 1.05rem;

            a {
                color: $copperCrayola;
                font-weight: 700;
            }
        }
    }
}
