.recentOrders {
    .logo {
        margin-top: 15px;
    }

    .recentOrdersContainer {
        max-width: 1050px;
        margin: 0 auto;
        display: flex;
        // align-items: center;
        justify-content: space-between;

        .left {
            width: 50%;

            h1 {
                font-size: 2.55rem;
                color: $dark;
                margin-top: 40px;
            }

            h2 {
                font-size: 1.15rem;
                color: $lightGrey;
            }

            .emptyOrders {
                margin-top: 175px;

                p {
                    font-size: 1.55rem;
                    font-weight: 700;
                    color: $lightGrey;
                }
            }
        }

        .right {
            width: 50%;
            margin-top: 100px;

            margin-right: -50px;

            img {
                position: sticky;
                top: 165px;
                width: 660px;
            }
        }
    }
}
