.recentOrders {
    margin-bottom: 120px;

    .logo {
        margin-top: 15px;
    }

    .message {
        // position: fixed;
        // left: 50%;
        // top: 12%;
        // transform: translate(-50%, -50%);

        // max-width: 1050px;
        // margin: 0 auto;

        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1050px;
        margin: 0 auto;
        background-color: $lightGreen;
        color: $white;
        padding: 20px 27px;
        border-radius: 10px;
        font-size: 1.12rem;

        svg {
            cursor: pointer;
        }

    }

    .recentOrdersContainer {
        max-width: 1050px;
        margin: 0 auto;
        display: flex;
        // align-items: center;
        justify-content: space-between;

        .left {
            width: 50%;

            h1 {
                font-size: 2.55rem;
                color: $dark;
                margin-top: 40px;
            }

            h2 {
                font-size: 1.15rem;
                color: $lightGrey;
            }

            .emptyOrders {
                margin-top: 175px;

                p {
                    font-size: 1.55rem;
                    font-weight: 700;
                    color: $lightGrey;
                }
            }
        }

        .right {
            width: 50%;
            margin-top: 100px;

            margin-right: -50px;

            img {
                position: sticky;
                top: 85px;
                // bottom: 200px;
                width: 660px;
            }
        }
    }
}
