@import url("https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,300;0,400;0,700;0,800;1,400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Neuton", serif;
  background-color: #F2F2F2;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}
@media (max-width: 1790px) {
  .container {
    max-width: 1125px;
  }
}

.button {
  background-color: #C57B57;
  border-radius: 20px;
  padding: 12px 65px;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.35rem;
  color: #DFDFDF;
  text-align: center;
  transition: all 0.3s ease;
}
.button:hover {
  background-color: #da9774;
}

.header {
  position: absolute;
  right: 80px;
  top: 57px;
}
.header ul {
  display: flex;
}
.header ul li {
  list-style: none;
  font-size: 1.3rem;
  font-weight: 600;
}
.header ul li a {
  text-decoration: none;
  color: #1E2D2F;
  padding-left: 65px;
}
.header ul li a.button {
  padding: 8px 40px;
  color: #F2F2F2;
  margin-left: 60px;
  font-size: 1.2rem;
}
@media (max-width: 1790px) {
  .header ul li a.button {
    padding: 8px 35px;
    margin-left: 30px;
  }
}
@media (max-width: 1790px) {
  .header {
    right: 50px;
    top: 35px;
  }
}

.hero {
  height: 100vh;
  background: url("../img/background4.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}
.hero .logo {
  margin-top: 15px;
}
.hero .content {
  position: absolute;
  top: 28%;
}
.hero .content h1 {
  color: #DFDFDF;
  font-weight: 700;
  font-size: 8rem;
  letter-spacing: 3px;
}
.hero .content .description {
  color: #DFDFDF;
}
.hero .content .description p {
  font-weight: 700;
  font-size: 1.45rem;
  max-width: 620px;
}
.hero .content .heroButton {
  display: inline-block;
  margin-top: 70px;
}
.hero .image {
  width: 42%;
  float: right;
  margin-top: 17%;
  margin-right: -47px;
}
@media (max-width: 1790px) {
  .hero .image {
    width: 40%;
    margin-right: -80px;
  }
}

.menu {
  position: relative;
}
.menu h2 {
  position: relative;
  margin-top: 100px;
  margin-bottom: 55px;
  color: #1E2D2F;
  font-size: 2.2rem;
  z-index: 2;
}
.menu .blob {
  position: absolute;
  top: 18px;
  left: 335px;
  width: 85px;
  z-index: 1;
  transform: rotate(5deg);
}
.menu .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;
}

.pizzaCard .card {
  position: relative;
  background-color: transparent;
  min-height: 620px;
  border-radius: 20px;
  background-color: #1d1d1d;
  transition: all 0.3s ease;
}
.pizzaCard .card .darkGreen {
  position: absolute;
  background-color: #C57B57;
  width: 100%;
  height: 290px;
  border-radius: 20px;
  z-index: 2;
}
.pizzaCard .card img {
  position: absolute;
  border-radius: 20px;
  top: 0;
  right: 0;
  z-index: 3;
}
.pizzaCard .card h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  color: #F2F2F2;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1.5rem;
  width: 310px;
  text-align: center;
}
.pizzaCard .card .price {
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translateX(-50%);
  color: #c4bcaf;
  font-weight: 600;
  font-size: 1.02rem;
  width: 310px;
  text-align: center;
}
.pizzaCard .card .description {
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translateX(-50%);
  color: #DFDFDF;
  font-weight: 600;
  font-size: 1.25rem;
  width: 310px;
  text-align: center;
}
.pizzaCard .card svg {
  position: absolute;
  font-size: 2.52rem;
  bottom: 10px;
  right: 3%;
  color: #F1AB86;
}
.pizzaCard .card:hover {
  transform: translateY(-8px);
}

.quote {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 150px;
}
.quote p {
  font-size: 1.5rem;
  margin-top: -25px;
  font-weight: 600;
  color: #1E2D2F;
}

.badges {
  position: relative;
  height: 800px;
  background: url("../img/gradientBackground.svg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  margin-top: 150px;
}
.badges .badgesRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 12%;
}
.badges .badgesRow .badgesItem {
  text-align: center;
}
.badges .badgesRow .badgesItem img {
  width: 200px;
}
.badges .badgesRow .badgesItem p {
  color: #1E2D2F;
  margin-top: 15px;
  font-size: 1.5rem;
  font-weight: 800;
  max-width: 300px;
}

.pizza {
  overflow-y: scroll;
}
.pizza .logo {
  margin-top: 15px;
}

footer .darkBackground {
  background-color: #1d1d1d;
  width: 100% !important;
  height: 400px;
  position: relative;
  z-index: 1;
  margin-top: -160px;
}
footer .darkBackground .infoRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 5;
  padding-top: 200px;
}
footer .darkBackground .infoRow .infoItem ul {
  display: flex;
}
footer .darkBackground .infoRow .infoItem ul a {
  text-decoration: none;
  color: #DFDFDF;
}
footer .darkBackground .infoRow .infoItem ul a li {
  list-style: none;
  padding-left: 75px;
  font-size: 1.3rem;
  font-weight: 600;
}
footer .darkBackground .infoRow .infoItem ul a.logo {
  padding-left: 25px;
}
footer .darkBackground .infoRow .infoItem img {
  width: 33px;
}

/*# sourceMappingURL=style.css.map */
