@import url("https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,300;0,400;0,700;0,800;1,400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Neuton", serif;
  background-color: #F2F2F2;
  overflow-y: scroll;
}
body.overflow {
  overflow: hidden;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}
@media (max-width: 1790px) {
  .container {
    max-width: 1125px;
  }
}

button {
  font-family: "Neuton", serif;
  border: none;
}

.button {
  border-radius: 20px;
  padding: 12px 65px;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.35rem;
  color: #DFDFDF;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
}

.buttonPrimary {
  background-color: #C57B57;
}
.buttonPrimary:hover {
  background-color: #da9774;
}

.buttonSecondary {
  background-color: #366961;
}
.buttonSecondary:hover {
  background-color: #29504a;
}

.buttonDisabled {
  cursor: not-allowed;
  background-color: #c7c7c7;
  color: #F2F2F2;
}

.backgroundOverlay {
  position: fixed;
  inset: 0px;
  background: rgba(0, 0, 0, 0.75);
  z-index: 30;
  transition: all 0.5s ease;
  opacity: 0;
  pointer-events: none;
}
.backgroundOverlay.open {
  opacity: 1;
  pointer-events: all;
}

.header {
  position: absolute;
  right: 80px;
  top: 57px;
}
.header ul {
  display: flex;
}
.header ul li {
  list-style: none;
  font-size: 1.3rem;
  font-weight: 600;
  padding-left: 65px;
}
.header ul li a {
  transition: all 0.2s ease;
  text-decoration: none;
  color: #1E2D2F;
}
.header ul li a.button {
  padding: 8px 40px;
  color: #F2F2F2;
  font-size: 1.2rem;
}
@media (max-width: 1790px) {
  .header ul li a.button {
    padding: 8px 35px;
    margin-left: 30px;
  }
}
.header ul li a:hover:not(#not) {
  color: #C57B57;
}
.header ul li .account {
  position: relative;
}
.header ul li .account .fakeLink {
  transition: all 0.2s ease;
  cursor: pointer;
}
.header ul li .account .fakeLink:hover {
  color: #C57B57;
}
.header ul li .account .dropdown {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
  top: 40px;
  border-radius: 5px;
  background-color: #DFDFDF;
  width: 185px;
  height: 240px;
  text-align: center;
}
.header ul li .account .dropdown .helloUser {
  font-size: 1.25rem;
  margin-bottom: 25px;
  margin-top: 20px;
}
.header ul li .account .dropdown .helloUser span {
  color: #C57B57;
  font-size: 1.15rem;
}
.header ul li .account .dropdown a {
  cursor: pointer;
  display: block;
  padding: 10px 0;
  font-size: 1.12rem;
}
.header ul li .account .dropdown a:hover {
  color: #366961;
  background-color: #bbbbbb;
}
.header ul li .account:hover .dropdown {
  opacity: 1;
  visibility: visible;
}
@media (max-width: 1790px) {
  .header {
    right: 50px;
    top: 35px;
  }
}

.hero {
  height: 100vh;
  background: url("../img/background4.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}
.hero .logo {
  margin-top: 15px;
}
.hero .content {
  position: absolute;
  top: 28%;
}
.hero .content h1 {
  color: #DFDFDF;
  font-weight: 700;
  font-size: 8rem;
  letter-spacing: 3px;
}
.hero .content .description {
  color: #DFDFDF;
}
.hero .content .description p {
  font-weight: 700;
  font-size: 1.45rem;
  max-width: 620px;
}
.hero .content .heroButton {
  display: inline-block;
  margin-top: 70px;
}
.hero .image {
  width: 42%;
  float: right;
  margin-top: 17%;
  margin-right: -47px;
}
@media (max-width: 1790px) {
  .hero .image {
    width: 40%;
    margin-right: -80px;
  }
}

.home .basket {
  position: fixed;
  bottom: 38px;
  right: 35px;
  transition: all 0.3s ease;
  z-index: 20;
  cursor: pointer;
}
.home .basket .basketIcon {
  color: #366961;
  font-size: 4.5rem;
  filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.4));
}
.home .basket .orderItems {
  position: absolute;
  bottom: 4px;
  right: -3px;
  z-index: 33;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #C57B57;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  color: #F2F2F2;
  font-weight: 700;
  font-size: 1.25rem;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.home .basket.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}
.home .basket:hover {
  transform: translateY(-6px);
}

.menu {
  position: relative;
}
.menu h2 {
  position: relative;
  margin-top: 100px;
  margin-bottom: 55px;
  color: #1E2D2F;
  font-size: 2.2rem;
  z-index: 2;
}
.menu .blob {
  position: absolute;
  top: 18px;
  left: 335px;
  width: 85px;
  z-index: 1;
  transform: rotate(5deg);
}
.menu .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;
}

.pizzaCard {
  position: relative;
  height: 620px;
  border-radius: 20px;
  background-color: #1d1d1d;
  transition: all 0.3s ease;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.pizzaCard .top {
  background: url("../img/sunburst6.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  width: 100%;
  height: 290px;
  border-radius: 20px;
  z-index: 2;
}
.pizzaCard img {
  position: absolute;
  border-radius: 20px;
  top: 55px;
  right: 0;
  z-index: 3;
  transition: all 0.3s ease;
}
.pizzaCard h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  color: #F2F2F2;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1.5rem;
  width: 310px;
  text-align: center;
}
.pizzaCard .price {
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translateX(-50%);
  color: #c4bcaf;
  font-weight: 600;
  font-size: 1.02rem;
  width: 310px;
  text-align: center;
}
.pizzaCard .description {
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translateX(-50%);
  color: #DFDFDF;
  font-weight: 600;
  font-size: 1.25rem;
  width: 310px;
  text-align: center;
}
.pizzaCard svg {
  position: absolute;
  transition: all 0.3s ease;
  font-size: 2.52rem;
  bottom: 10px;
  right: 3%;
  color: #366961;
}
.pizzaCard:hover {
  transform: translateY(-6px);
}
.pizzaCard:hover img {
  filter: drop-shadow(-10px 5px 10px rgba(221, 217, 183, 0.4));
}
.pizzaCard:hover svg {
  opacity: 0.95;
}

.quote {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 150px;
}
.quote p {
  font-size: 1.5rem;
  margin-top: -25px;
  font-weight: 600;
  color: #1E2D2F;
}

.badges {
  position: relative;
  height: 800px;
  background: url("../img/gradientBackground.svg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  margin-top: 150px;
}
.badges .badgesRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 12%;
}
.badges .badgesRow .badgesItem {
  text-align: center;
}
.badges .badgesRow .badgesItem img {
  width: 200px;
}
.badges .badgesRow .badgesItem p {
  color: #1E2D2F;
  margin-top: 15px;
  font-size: 1.5rem;
  font-weight: 800;
  max-width: 300px;
}

.order {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #DFDFDF;
  width: 400px;
  transition: transform 0.55s ease-in-out;
  transform: translateX(100%);
  z-index: 35;
  padding: 0 60px;
  overflow-y: auto;
}
.order.sliderOpen {
  transform: translateX(0);
}
.order .close {
  position: absolute;
  color: #6e6e6e;
  font-size: 2.2rem;
  top: 12px;
  right: 10px;
  cursor: pointer;
}
.order.orderOpen {
  transform: translateX(0);
}
.order .empty {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
}
.order .empty img {
  opacity: 0.5;
  width: 85%;
}
.order .empty p {
  font-size: 1.2rem;
  max-width: 340px;
  margin: 0 auto;
  font-weight: 600;
  text-align: center;
  margin-top: -140px;
  color: #6e6e6e;
}
.order .notEmpty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.order .notEmpty .headerAndItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.order .notEmpty .headerAndItems h2 {
  margin: 50px 0;
  letter-spacing: 1px;
  font-size: 1.85rem;
  color: #6e6e6e;
}
.order .notEmpty .orderButton {
  width: 100%;
  padding: 13px 40px;
  font-size: 1.27rem;
  margin-bottom: 25px;
}

.customizeOrderModal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -100%);
  transition: all 0.5s ease;
  background-color: #DFDFDF;
  border-radius: 10px;
  width: 67%;
  height: 600px;
  z-index: 30;
  pointer-events: none;
  opacity: 0;
}
.customizeOrderModal .close {
  position: absolute;
  color: #F2F2F2;
  font-size: 1.9rem;
  top: 12px;
  right: 10px;
  cursor: pointer;
  z-index: 35;
}
.customizeOrderModal.open {
  opacity: 1;
  pointer-events: all;
  transform: translate(-50%, -50%);
}
.customizeOrderModal .contentRow {
  display: grid;
  grid-template-columns: 7fr 5fr;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.customizeOrderModal .contentRow .left {
  overflow-y: scroll;
  padding: 40px;
}
.customizeOrderModal .contentRow .left h1 {
  font-size: 1.85rem;
  color: #1d1d1d;
}
.customizeOrderModal .contentRow .left h3 {
  margin: 10px 0;
  font-size: 1.15rem;
  color: #6e6e6e;
  display: inline-block;
}
.customizeOrderModal .contentRow .left .required {
  background-color: #C57B57;
  color: #DFDFDF;
  font-weight: 700;
  border-radius: 10px;
  padding: 2px 8px;
  margin-left: 5px;
}
.customizeOrderModal .contentRow .left .sizeOptions {
  width: 100%;
  margin-top: 20px;
}
.customizeOrderModal .contentRow .left .sizeOptions .option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 15px;
  border: 1px solid #bbbbbb;
  font-size: 1.16rem;
  font-weight: 600;
  border-radius: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.customizeOrderModal .contentRow .left .sizeOptions .option .labelPriceRow {
  width: 140px;
  display: flex;
  justify-content: space-between;
}
.customizeOrderModal .contentRow .left .sizeOptions .option .labelPriceRow .label {
  color: #494949;
}
.customizeOrderModal .contentRow .left .sizeOptions .option .labelPriceRow .price {
  color: #366961;
}
.customizeOrderModal .contentRow .left .sizeOptions .option .add {
  font-size: 1.6rem;
  color: #366961;
}
.customizeOrderModal .contentRow .left .sizeOptions .option:hover {
  border: 1px solid #366961;
}
.customizeOrderModal .contentRow .left .sizeOptions .option.active {
  background-color: #c7c7c7;
}
.customizeOrderModal .contentRow .left .sizeOptions .option.active:hover {
  border: 1px solid transparent;
}
.customizeOrderModal .contentRow .left .quantity {
  margin-top: 25px;
}
.customizeOrderModal .contentRow .left .quantity h1 {
  font-size: 1.2rem;
  margin-top: 35px;
  margin-bottom: 5px;
  color: #1d1d1d;
}
.customizeOrderModal .contentRow .left .quantity .quantityController {
  display: flex;
  padding: 15px 0;
}
.customizeOrderModal .contentRow .left .quantity .quantityController h1 {
  margin: 0;
}
.customizeOrderModal .contentRow .left .quantity .quantityController .buttons {
  display: flex;
  align-items: center;
  width: 15%;
  justify-content: space-between;
  margin-left: 10px;
  cursor: not-allowed;
}
.customizeOrderModal .contentRow .left .quantity .quantityController .buttons svg {
  color: #c7c7c7;
  font-size: 1.6rem;
  cursor: pointer;
  pointer-events: none;
}
.customizeOrderModal .contentRow .left .quantity .quantityController .buttons span {
  justify-self: center;
  font-size: 1.16rem;
  font-weight: 700;
  color: #c7c7c7;
}
.customizeOrderModal .contentRow .left .quantity .quantityController .buttons.active {
  cursor: pointer;
}
.customizeOrderModal .contentRow .left .quantity .quantityController .buttons.active svg {
  color: #366961;
  pointer-events: all;
}
.customizeOrderModal .contentRow .left .quantity .quantityController .buttons.active span {
  color: #1E2D2F;
}
.customizeOrderModal .contentRow .left .extras h1 {
  font-size: 1.2rem;
  margin-top: 9px;
  margin-bottom: 5px;
  color: #1d1d1d;
}
.customizeOrderModal .contentRow .left .extras .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 35px;
}
.customizeOrderModal .contentRow .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #DFDFDF;
  border-radius: 10px;
}
.customizeOrderModal .contentRow .right h2 {
  color: #1d1d1d;
  font-size: 1.4rem;
}
.customizeOrderModal .contentRow .right p {
  font-weight: 400;
  font-size: 1.1rem;
}
.customizeOrderModal .contentRow .right .imageBox {
  position: relative;
  background: url("../img/sunburst6.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  height: 55%;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.customizeOrderModal .contentRow .right .imageBox .pizza {
  position: absolute;
  top: 55px;
  right: 0;
  filter: drop-shadow(-20px 5px 20px rgba(221, 217, 183, 0.55));
}
.customizeOrderModal .contentRow .right .ingredients {
  align-self: center;
  width: 80%;
  margin-top: -10px;
  margin-bottom: 20px;
}
.customizeOrderModal .contentRow .right .extras {
  align-self: center;
  width: 80%;
  margin-top: -50px;
}
.customizeOrderModal .contentRow .right .extras span {
  font-weight: 400;
  font-size: 1.1rem;
}
.customizeOrderModal .contentRow .right button {
  bottom: 0;
  align-self: center;
  margin-bottom: 20px;
  width: 80%;
  font-size: 1.2rem;
}

.orderItem {
  width: 100%;
  font-size: 1.19rem;
  border-bottom: 1px solid #366961;
  margin-bottom: 15px;
}
.orderItem .label {
  font-size: 1.1rem;
  color: #1E2D2F;
  margin-top: 5px;
}
.orderItem .label .labelValue {
  font-size: 1rem;
  color: #1d1d1d;
}
.orderItem .bold {
  font-weight: 700;
}
.orderItem .ingredients {
  font-size: 1rem;
  color: #6e6e6e;
}
.orderItem .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.orderItem .priceAndIcons {
  display: flex;
  align-items: center;
}
.orderItem .priceAndIcons .edit {
  margin-left: 8px;
  color: #366961;
  cursor: pointer;
}
.orderItem .priceAndIcons .delete {
  margin-left: 4px;
  color: #a04747;
  cursor: pointer;
}
.orderItem .quantityName {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.orderItem .quantityName .quantity {
  font-weight: 700;
  margin-right: 10px;
}
.orderItem .marginBottom {
  margin-top: 15px;
  margin-bottom: 3px;
}
.orderItem:last-of-type {
  margin-bottom: 40px;
}

.registerLoginModal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.15s ease;
  background-color: #DFDFDF;
  border-radius: 10px;
  width: 620px;
  height: 88%;
  padding: 40px 85px;
  z-index: 30;
  pointer-events: none;
  opacity: 0;
  overflow-y: auto;
}
.registerLoginModal .close {
  position: absolute;
  color: #494949;
  font-size: 1.9rem;
  top: 12px;
  right: 10px;
  cursor: pointer;
  z-index: 35;
}
.registerLoginModal.open {
  opacity: 1;
  pointer-events: all;
}
.registerLoginModal .contentColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.registerLoginModal .contentColumn h1 {
  font-weight: 700;
  font-size: 2.2rem;
  color: #494949;
  margin-bottom: 70px;
}
.registerLoginModal .contentColumn .facebookButton {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  background-color: #3b5998;
  font-weight: 700;
  font-size: 1.3rem;
  padding: 10px 80px;
}
.registerLoginModal .contentColumn .facebookButton svg {
  font-size: 2rem;
  margin-right: 5px;
}
.registerLoginModal .contentColumn .facebookButton:hover {
  background-color: #2d4579;
}
.registerLoginModal .contentColumn .or {
  font-size: 1.35em;
  color: #6e6e6e;
  margin: 30px 0;
}
.registerLoginModal .contentColumn form {
  width: 100%;
  text-align: center;
}
.registerLoginModal .contentColumn form .inputGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 20px;
  margin-bottom: 70px;
}
.registerLoginModal .contentColumn form .inputGroup svg {
  position: absolute;
  left: 1px;
  font-size: 2.35rem;
  color: #494949;
}
.registerLoginModal .contentColumn form .inputGroup label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 48px;
  transition: all 0.3s ease;
  color: #6e6e6e;
  font-size: 1.3rem;
  z-index: 45;
}
.registerLoginModal .contentColumn form .inputGroup label.active {
  top: -25px;
  font-size: 1rem;
  color: #1d1d1d;
}
.registerLoginModal .contentColumn form .inputGroup input {
  position: relative;
  font-family: "Neuton", serif;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #bbbbbb;
  width: 80%;
  font-size: 1.2rem;
  padding-bottom: 8px;
  z-index: 50;
}
.registerLoginModal .contentColumn form .inputGroup input.active {
  border-bottom: 1px solid #494949;
}
.registerLoginModal .contentColumn form .formButton {
  margin-top: 80px;
}
.registerLoginModal .contentColumn .needAnAccount {
  margin: 15px 0;
  font-size: 1.05rem;
}
.registerLoginModal .contentColumn .needAnAccount a {
  color: #C57B57;
  font-weight: 700;
}

.payment .logo {
  margin-top: 15px;
}
.payment .paymentContainer {
  max-width: 1050px;
  margin: 0 auto;
}
.payment .paymentContainer .heading {
  display: flex;
  align-items: center;
  margin-bottom: 75px;
  color: #494949;
}
.payment .paymentContainer .heading svg {
  font-size: 1.8rem;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
.payment .paymentContainer .heading svg:hover {
  transform: translateX(-7px);
  color: #494949;
}
.payment .paymentContainer .heading h1 {
  font-size: 1.85rem;
}
.payment .paymentContainer .mainRow {
  display: flex;
}
.payment .paymentContainer .mainRow .left {
  width: 60%;
}
.payment .paymentContainer .mainRow .left .address {
  margin-bottom: 50px;
}
.payment .paymentContainer .mainRow .left .address p {
  font-size: 1.25rem;
}
.payment .paymentContainer .mainRow .left .orderContent {
  margin-bottom: 50px;
}
.payment .paymentContainer .mainRow .left h2 {
  font-size: 1.55rem;
}
.payment .paymentContainer .mainRow .right {
  width: 40%;
  margin-left: 70px;
}
.payment .paymentContainer .mainRow .right .summaryCard {
  position: sticky;
  top: 75px;
  background-color: #ffffff;
  border-radius: 15px 15px 0 0;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 450px;
}
.payment .paymentContainer .mainRow .right .summaryCard::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 20px;
  background: linear-gradient(45deg, transparent 33.333%, #fff 0, #fff 66.667%, transparent 0), linear-gradient(-45deg, transparent 33.333%, #fff 0, #fff 66.667%, transparent 0);
  background-size: 20px 40px;
  background-position: 0 -20px;
  bottom: -10px;
  top: auto;
}

footer .darkBackground {
  background-color: #1d1d1d;
  width: 100% !important;
  height: 400px;
  position: relative;
  z-index: 1;
  margin-top: -160px;
}
footer .darkBackground .infoRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 5;
  padding-top: 200px;
}
footer .darkBackground .infoRow .infoItem ul {
  display: flex;
}
footer .darkBackground .infoRow .infoItem ul a {
  text-decoration: none;
  color: #DFDFDF;
}
footer .darkBackground .infoRow .infoItem ul a li {
  list-style: none;
  padding-left: 75px;
  font-size: 1.3rem;
  font-weight: 600;
}
footer .darkBackground .infoRow .infoItem ul a.logo {
  padding-left: 25px;
}
footer .darkBackground .infoRow .infoItem img {
  width: 33px;
}

/*# sourceMappingURL=style.css.map */
