* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: $neuton;
    background-color: $backgroundWhite;
}

.container {
    max-width: 1300px;
    margin: 0 auto;

    @media (max-width: 1790px) {
        max-width: 1125px;
    }
}

.button {
    background-color: $copperCrayola;
    border-radius: 20px;
    padding: 12px 65px;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.35rem;
    color: $creamWhite;
    text-align: center;
    transition: all 0.3s ease;

    &:hover {
        background-color: #da9774;
    }
}

.backgroundOverlay {
    position: fixed;
    inset: 0px;
    background: rgba(0, 0, 0, 0.75);
    // background: rgba(255, 123, 56, 0.9);
    z-index: 30;
    transition: all 0.5s ease;
    opacity: 0;
    pointer-events: none;

    &.open {
        opacity: 1;
        pointer-events: all;
    }
}
