* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: $neuton;
    background-color: $backgroundWhite;
    overflow-y: scroll;

    &.overflow {
        overflow: hidden;
    }
}

.container {
    max-width: 1300px;
    margin: 0 auto;

    @media (max-width: 1790px) {
        max-width: 1125px;
    }

    @media (max-width: 1330px) {
        max-width: 945px;
    }

    @media (max-width: 1195px) {
        max-width: 840px;
    }

    @media (max-width: 1000px) {
        max-width: 725px;
    }


    @media (max-width: 830px) {
        padding: 0 30px;
        // max-width: 620px;
    }

}

button {
    font-family: $neuton;
    border: none;
}

.button {
    border-radius: 20px;
    padding: 12px 65px;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.35rem;
    color: $creamWhite;
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
}

.buttonPrimary {
    background-color: $copperCrayola;

    &:hover {
        background-color: #da9774;
    }
}

.buttonSecondary {
    background-color: $lightGreen;

    &:hover {
        background-color: #29504a;
    }
}

.buttonDisabled {
    cursor: not-allowed;
    background-color: $mildGrey;
    color: $backgroundWhite;
}

.backgroundOverlay {
    position: fixed;
    inset: 0px;
    background: rgba(0, 0, 0, 0.75);
    // background: rgba(255, 123, 56, 0.9);
    z-index: 56;
    transition: all 0.5s ease;
    opacity: 0;
    pointer-events: none;

    &.open {
        opacity: 1;
        pointer-events: all;
    }
}

// .inputGroup {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     position: relative;
//     margin-top: 20px;
//     margin-bottom: 70px;

//     svg {
//         position: absolute;
//         left: 1px;
//         font-size: 2.35rem;
//         color: $darkGrey;
//     }

//     label {
//         position: absolute;
//         top: 0;
//         left: 0;
//         margin-left: 48px;
//         transition: all 0.3s ease;
//         color: $grey;
//         font-size: 1.3rem;
//         z-index: 45;

//         &.active {
//             top: -25px;
//             font-size: 1rem;
//             color: $dark;
//         }
//     }

//     input {
//         position: relative;
//         font-family: $neuton;
//         background-color: transparent;
//         outline: none;
//         border: none;
//         border-bottom: 1px solid $lightGrey;
//         width: 80%;
//         font-size: 1.2rem;
//         padding-bottom: 8px;
//         z-index: 50;

//         &.active {
//             border-bottom: 1px solid $darkGrey;
//         }
//     }
// }
