footer {
    position: relative;
    z-index: 50;

    .footerWave {
        width: 100%;
        height: 68px;
        position: relative;
        display: flex;

        img {
            position: absolute;
            width: 100%;
            // object-fit: cover;
            bottom: -3px;
            left: -5px;
        }
    }

    .darkBackground {
        background-color: $dark;
        width: 100% !important;
        height: 300px;
        position: relative;

        .infoRow {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            z-index: 5;
            padding-top: 70px;

            .infoItem {
                ul {
                    display: flex;
                    align-items: center;

                    a {
                        text-decoration: none;
                        color: $creamWhite;

                        li {
                            list-style: none;
                            padding-left: 75px;
                            font-size: 1.3rem;
                            font-weight: 600;

                            @media (max-width: 585px) {
                                padding-left: 0;
                            }
                        }

                        &.logo {
                            padding-left: 25px;

                            @media (max-width: 1005px) {
                                padding-left: 75px;
                            }

                            @media (max-width: 585px) {
                                padding-left: 0;
                            }
                        }
                    }

                    @media (max-width: 1005px) {
                        flex-direction: column;
                        align-items: flex-start;
                    }
                }

                img {
                    width: 33px;
                }
            }

            @media (max-width: 1005px) {
                justify-content: space-evenly;
            }

            @media (max-width: 585px) {
                flex-direction: column;
            }
        }
    }
}
