.header {
    position: absolute;
    right: 80px;
    top: 57px;

    ul {
        display: flex;

        li {
            list-style: none;
            font-size: 1.3rem;
            font-weight: 600;
            padding-left: 65px;

            a {
                transition: all 0.2s ease;
                text-decoration: none;
                color: $darkGreen;

                &.button {
                    padding: 8px 40px;
                    color: $backgroundWhite;
                    font-size: 1.2rem;

                    @media (max-width: 1790px) {
                        padding: 8px 35px;
                        margin-left: 6px;
                    }

                    @media (max-width: 1590px) {
                        font-size: 1.05rem;
                        margin-left: 0px;
                    }
                }

                &:hover:not(#not) {
                    color: $copperCrayola;
                }
            }

            .account {
                position: relative;

                .fakeLink {
                    transition: all 0.2s ease;
                    cursor: pointer;

                    &:hover {
                        color: $copperCrayola;
                    }
                }

                .dropdown {
                    position: absolute;
                    opacity: 0;
                    visibility: hidden;
                    transition: all 0.2s;
                    top: 40px;
                    border-radius: 5px;
                    background-color: $creamWhite;
                    width: 185px;
                    // height: 240px;
                    height: fit-content;
                    text-align: center;
                    // padding: 20px 10px;

                    .helloUser {
                        font-size: 1.25rem;
                        margin-bottom: 10px;
                        margin-top: 20px;

                        span {
                            color: $copperCrayola;
                            font-size: 1.15rem;
                        }
                    }

                    a {
                        cursor: pointer;
                        display: block;
                        padding: 10px 0;
                        font-size: 1.12rem;
                        border-radius: 5px;
                        // margin-bottom: 25px;

                        &:hover {
                            color: $lightGreen;
                            background-color: $lightGrey;
                        }
                    }
                }

                &:hover .dropdown {
                    opacity: 1;
                    visibility: visible;
                }
            }

            @media (max-width: 1590px) {
                font-size: 1.05rem;
                padding-left: 50px;
            }
        }

        @media (max-width: 1155px) {
            display: none;
        }
    }

    @media (max-width: 1790px) {
        right: 50px;
        top: 45px;
    }

    @media (max-width: 1510px) {
        right: 50px;
        top: 45px;
    }
}
